<template>
  <div class="todo">
    <h1> To Do List </h1>
    <div class="todo-form">
      <input type="text" placeholder="Nuevo todo..." v-model="todo_desc"/>&nbsp;
      <a href="javascript:void(0)" @click="addTodo">Agregar</a>
    </div>
    <ul class="todo-wrapper">
      <li class="todo-item">
        <input type="checkbox"/><p> Acariciar perritos</p>
      </li>
    </ul>
  </div>
</template>

<script>
import JQuery from 'jquery';
let $ = JQuery;
export default {
  data() {
    return {
      todo_desc: ""
    }
  },
  methods: {
    addTodo: function(){
      let el = this;
      $.post("/api/actions/add_todo.php", {
        description: this.todo_desc
      }, function(response){
        console.log(response);
        el.listTodo();
      });
    },
    listTodo: function(){
      let el = this;
      $.get("/api/actions/list_todo.php", function(response){
        $(".todo-wrapper").empty();

        $(JSON.parse(response)).each((idx, todo) => {
          let status = "";
          let value = "f";
          if(todo.status == 't'){
            status = "checked";
            value = "t";
          }

          $(".todo-wrapper").append(`
          <li class="todo-item">
            <input class="todo-trigger" type="checkbox" ${status} data-id="${todo.id}" data-value="${value}"/><p> ${todo.description}</p>
          </li> 
          `);

          $('.todo-trigger').on("click", function(){
            el.toggleTodo(this);
          });
        });

      });
    },
    toggleTodo: function(el){
      let component = this;
      let db_id = $(el).data("id");
      let value = $(el).data("value");
      if(value === 't'){
        value = 'f';
      } else {
        value = 't';
      }
      $.post("/api/actions/toggle_todo.php", {
        id: db_id,
        value: value
      }, function(response){
        console.log(response);
        component.listTodo();
      });
    }
  },
  mounted(){
    this.$nextTick(function(){
      this.listTodo();
      let el = this;
    });
  }
}
</script>

<style lang="scss">
h1{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
}
.todo-wrapper{
  width: 30vw;
}
.todo-item{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.todo-form{
  padding-left: 2vw;
}
.todo-item input[type="checkbox"]{
  margin-right: 1em;
}
</style>
